<p class="fw-bold">~ {{quote.author}}</p>
<div class="row align-items-center">
  <div class="col-6 text-start">
    <p class="mb-1">Posted by: {{quote.submittedBy}}</p>
  </div>
  <div class="col-6 text-end">
    <p class="mb-1">Posted on: {{quote.date|date}}, {{quote.date|dateCount}} Days ago.</p>
  </div>
  <div class="col-6 text-start">
    <div id="up-vote" class="d-inline-block">
      {{quote.upVote}}
      <button class="btn votes-btn" (click)="addUpVote(true)"><span class="material-icons fs-5 text-success me-5">thumb_up</span></button>
    </div>
    <div id="down-vote votes-btn" class="d-inline-block">
      {{quote.downVote}}
      <button class="btn votes-btn" (click)="addDownVote(true)"><span class="material-icons fs-5 text-danger">thumb_down</span></button>
    </div>
  </div>
  <div class="col-6 text-end">
    <button (click)='toDelete(true)' class="btn"><span class="material-icons fs-5 text-danger">delete</span></button>
  </div>
</div>