<p>{{quote.author}}</p>
<p>Posted by: {{quote.submittedBy}}</p>
<p>Posted on: {{quote.date|date}}, {{quote.date|dateCount}} Days ago.</p>
<div id="up-vote">
  {{quote.upVote}}
  <button class="btn" (click)="addUpVote(true)"><span class="material-icons">thumb_up</span></button>
</div>
<div id="down-vote">
  {{quote.downVote}}
  <button class="btn" (click)="addDownVote(true)"><span class="material-icons">thumb_down</span></button>
</div>
<button (click)='toDelete(true)'><span class="material-icons-outlined">delete</span></button>